*{
    margin: 0;
    padding: 0;
}
:root{
    --size: 10px;
    --cells: 20;
}
.node{
    width: var(--size);
    height: var(--size);
    border: solid 1px black;
}
.gameField{
    display:grid;
    grid-template: repeat(var(--cells), 1fr)/repeat(var(--cells), 1fr);
    width: calc(var(--cells)*var(--size));
    margin: 10px;
}
